<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>io.tinyland.tcfs.fileprovider</string>
    <key>CFBundleExecutable</key>
    <string>TCFSFileProvider</string>
    <key>CFBundleName</key>
    <string>TCFSFileProvider</string>
    <key>CFBundlePackageType</key>
    <string>XPC!</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.0</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>LSMinimumSystemVersion</key>
    <string>15.0</string>
    <key>NSExtension</key>
    <dict>
        <key>NSExtensionFileProviderDocumentGroup</key>
        <string>group.io.tinyland.tcfs</string>
        <key>NSExtensionPointIdentifier</key>
        <string>com.apple.fileprovider-nonui</string>
        <key>NSExtensionPrincipalClass</key>
        <string>TCFSFileProvider.TCFSFileProviderExtension</string>
        <key>NSExtensionFileProviderSupportsEnumeration</key>
        <true/>
    </dict>
</dict>
</plist>
